@{
    ViewBag.Title = "About";
}
    <h2>@ViewBag.Title.</h2>


<p>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/elsaa.png"  width="140" height="140">
            <h2>Elsa</h2>
<p>Queen Elsa of Arendelle in the Disney film Frozen, she was introduced as the princess of the fictional Scandinavian kingdom of Arendelle, heir to the throne and sister of Queen Anna. He is voiced mainly by Broadway actress and singer Idina Menzel.</p>
<p><a class="btn btn-default" href="https://id.wikipedia.org/wiki/Elsa_(Disney)" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<div class="col-lg-4">
    <img class="img-circle" src="~/img/anna.jpg"  width="140" height="140">
    <h2>Anna</h2>
    <p>Queen Anna is the sister of Queen Elsa in the Disney film Frozen. Anna's main voice actor is Kristen Bell.</p>
    <p><a class="btn btn-default" href="https://id.wikipedia.org/wiki/Anna_(Disney)" role="button">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
<div class="col-lg-4">
    <img class="img-circle" src="~/img/olaf.jpg"  width="140" height="140">
    <h2>Olaf</h2>
    <p>Olaf the Snowman is a fictional character from the 2013 animated film Frozen, produced by Walt Disney Animation Studios. An icon in this film and a funny voice actor named Josh Gad</p>
    <p><a class="btn btn-default" href="https://id.wikipedia.org/wiki/Olaf_(Frozen)" role="button">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</p>