@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Atika Retnoningtyas<br/>
    Coco Garden Cluster Modesta<br />
    Kelapanunggal, Cileungsi, Bogor<br />
    <abbr title="Phone">P:</abbr>
    087873567085
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:atikartyas@gmail.com">atikartyas@gmail.com</a>
</address>